.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20%;
  margin: 0 auto;

}

.card {
  width: 15em;
  height: 10em;
  background-image: linear-gradient(163deg, var(--secondaryColor) 0%, var(--secondaryColor), 100%);
  border-radius: 30px;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px rgb(25, 25, 25),
    -5px -5px 10px rgb(60, 60, 60);

}

.card2 {
  width: 100%;
  height: 7em;
  background-color: var(--secondaryColor);
  border-radius: 30px;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}


.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.contenedorMain {
  display: flex;
  margin-top: 30px;
}

.aside {
  width: 300px;
  background-color: var(--secondaryColor);
  border-radius: 30px;
  height: 30em;
  margin-left: 40px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  box-shadow: 10px 10px 20px rgb(25, 25, 25),
    -5px -5px 50px rgb(60, 60, 60);
}

.aside img {
  height: 120px;
  width: 120px;
  display: block;
  margin: 0 auto;
}

.aside h2 {
  margin: 0 auto;
  color: white;
}

.datos {

  margin-top: 10px;
  height: 2.5em;
  border-radius: 30px;
  background-color: var(--cuaternaryColor);
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  box-shadow: 10px 10px 20px rgb(25, 25, 25),
    -5px -5px 10px rgb(60, 60, 60);
}

.datos h2 {
  color: var(--secondaryColor);
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: inherit;
}