.containerSup h2 {
    margin-top: 0;
}

textarea {
    width: 90%;
    height: 5em;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    outline: none;
    font-size: 19px;
}


  

  

  
  