:root {
  --primaryColor: #004f4d;
  --secondaryColor: #1f2024;
  --tertiaryColor: #4b4952;
  --cuaternaryColor: #afaeb1;
}

body {
  font-family: sans-serif, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  margin: 0;
  padding: 0;
  width: 100%;
}

