:root {
  --primaryColor: #004f4d;
  --secondaryColor: #1f2024;
  --tertiaryColor: #4b4952;
}

body {
  font-family: sans-serif, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #004f4d;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  margin: 0 0 0 4%;
}

nav {
  margin-left: 10%;
  display: flex;
  width: 60%;
  height: 4em;
  background-color: var(--secondaryColor);
  border-radius: 100px;
  justify-content: flex-start;
  align-items: center;
}

ul {
  width: 100%;
  display: flex;
}

li {
  display: flex;
  margin-left: 5%;
  padding: 1%;
  cursor: pointer;
  user-select: none;
  border-radius: 100px;
  list-style: none;
  font-size: unset;
}

li:disabled {
  pointer-events: none;
}

li:hover {
  color: var(--secondaryColor);
  background-color: var(--tertiaryColor);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

li:active {
  box-shadow: none;
  transform: translateY(0);
}

.li_1 {
  /*Migas de pan Off*/
  color: var(--tertiaryColor);
  background-color: var(--secondaryColor);
}

.li_2 {
  /* Migas de pan On*/
  color: var(--secondaryColor);
  background-color: var(--tertiaryColor);
}

#profile {
  margin-left: auto;
  margin-right: 5%;
}


/******************************/

#div_avatar {
  margin-top: 2em;
  width: auto;
  display: flex;
  justify-content: center;
}

/*****************************/

#div_input_buscador {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3em;
}

#input_buscador {
  padding-left: 2%;
  font-size: unset;
  border: none;
  border-radius: 100px;
  width: 30%;
  outline: none;
}

/****************************/

#div_search {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 6%;
  margin-top: 3%;
}

#search {
  background-color: var(--secondaryColor);
  border-radius: 100px;
  width: 10%;
  font-size: unset;
  color: var(--tertiaryColor);
  cursor: pointer;
  border: none;
  height: 3em;
}

#search:disabled {
  pointer-events: none;
}

#search:hover {
  color: var(--tertiaryColor);
  background-color: var(--secondaryColor);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#search:active {
  box-shadow: none;
  transform: translateY(0);
}