
/******************************/

#div_avatar {
    margin-top: 1.5em;
    width: auto;
    display: flex;
    justify-content: center;
  }
  
  /*****************************/
  
  #div_input_buscador {
    margin-top: 0.8em;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 3em;
  }
  
  #input_buscador {
    padding-left: 2%;
    font-size: unset;
    border: none;
    border-radius: 100px;
    width: 30%;
    outline: none;
  }
  
  #input_buscador:disabled {
    pointer-events: none;
  }

  #input_buscador:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  #input_buscador:hover {
    transform: translateY(-2px);
    box-shadow: 10px 10px 20px rgb(36, 46, 39),
             -5px -5px 50px rgb(114, 116, 115);
  }
  
 
  /****************************/
  
  #div_search {
    width: 10%;
    display: flex;
    justify-content: space-around;
    height: 6%;
    margin: auto;
    margin-top: 2%;
  }
  
  #search {
    background-color: var(--secondaryColor);
    border-radius: 100px;
    width: 100%;
    cursor: pointer;
    border: none;
    height: 3em;
    font-size:medium ;
    color: var(--cuaternaryColor);
  }
  
  #search:disabled {
    pointer-events: none;
  }
  
  #search:hover {
   
    background-color: var(--secondaryColor);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  #search:active {
    box-shadow: none;
    transform: translateY(0);
  }

  /**************************************************************/

  #mensajeDocument {
    text-align: center;
    color: white;
    font-size: 20px;
    animation: shake 0.5s ease-in-out;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }