:root {
  --primaryColor: #004f4d;
  --secondaryColor: #1f2024;
  --tertiaryColor: #4b4952;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #004f4d;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  margin: 0px 0px 0 4%;
}

nav {
  margin-left: 10%;
  display: flex;
  width: 60%;
  height: 60px;
  background-color: var(--secondaryColor);
  border-radius: 100px;
  justify-content: flex-start;
  align-items: center;

}

ul {
  width: 100%;
  display: flex;
}

li {
  display: flex;
  margin-left: 5%;
  padding: 8px;
  cursor: pointer;
  user-select: none;
  border-radius: 100px;
  list-style: none;
}

.li_1 {
  /*Migas de pan Off*/
  color: var(--tertiaryColor);
  background-color: var(--secondaryColor);

}

.li_2 {
  /* Migas de pan On*/
  color: var(--secondaryColor);
  background-color: var(--tertiaryColor);
}

#profile {
  margin-left: auto;
  margin-right: 5%;
}
