:root {
  --primaryColor: #004f4d;
  --secondaryColor: #1f2024;
  --tertiaryColor: #4b4952;
}

body {
  margin: 0;
  padding: 0;
  font-family:sans-serif, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #004f4d;
  display: flex;
  width: 100%;
 
}

#logo {
    margin: 0px 0px 0 80px;
}

nav {
  margin-left: 8%;
  margin-top: 25px;
  background-color: var(--secondaryColor);
  width: 65%;
  height: 50%;
  border-radius: 50px;
  text-align: start;
  justify-content: center;
  display: inline-block;
}

li {
  cursor: pointer;
  user-select: none;
  
}

.li_1 { /*Migas de pan Off*/
  display: inline;
  margin:0px 50px 0px 10px;
  padding: 5px;
  border-radius: 50px;
  color: var(--tertiaryColor);
  background-color: var(--secondaryColor);
}

.li_2 {  /* Migas de pan On*/
  
  display: inline;
  margin:0px 50px 0px 10px;
  padding: 5px;
  border-radius: 50px;
  color: var(--secondaryColor);
  background-color: var(--tertiaryColor);
}

#profile {
  float: right;
}
